:root{
    --primary-color: #18CFAB;
    --primary-white: #ffffff;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
}

.container-small{
    max-width: 1160px;
    margin: 0 auto;
}

.container-bg-color{
    background-color: #E9EDEF;
}

.main-tittle{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.11;
    color: #4E4E4E;
    margin-bottom: 24px;
    text-align: center;
}

.tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tittle-line-left,
.tittle-line-right{
    width: 79px;
    height: 1px;
    margin: 2px;
    background-color: var(--primary-color);
}
.tittle-line-left{
    transform: translateX(-5px);
}

.tittle-line-right{
    transform: translateX(5px);
    margin-bottom: 69px;
}

.hidden{
    display: none;
}

.w-100{
    width: 100%;
    height: 100%;
}

/* HEADER */


.header{
    width: 100%;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../images/Sections-background/section-1\(header\).jpg");
    background-attachment: fixed;
    background-color: #676767;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav--fixed{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
}

.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.flex{
    display: flex;
    align-items: center;
}

.header-nav a{
    text-decoration: none;
}

.logo-place{
    position: relative;
    padding: 6px;
}

.logo-place span{
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 40px;
    line-height: 0.77;
    color: var(--primary-white);
}

.logo-name{
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    color: var(--primary-white);
}

.ham{
    font-weight: 700;
    color: var(--primary-color);
}



.navigation li{
    margin-left: 21px;
}

.naligation-link{
    padding: 49px 2px;
    color: var(--primary-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    transition: all 0.3s linear;
    border-bottom: 2px solid transparent;
}

.naligation-link:hover{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.search-btn{
    background-color: transparent;
    border: none;
    padding-left: 21px;
}


/* HEADER INNER */


.header-inner{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    padding-top: 200px;
    align-items: center;
}

.inner-title{
    font-size: 78px;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-white);
    text-transform: uppercase;
    margin: 11px 0;
}

.inner-title--small{
    font-size: 35px;
}

.inner-title--small span{
    color: var(--primary-color);
}

.inner-title--skinny{
    font-size: 34px;
    text-transform: none;
    font-weight: 400;
    color: #D4D4D4;
}

.btn-place{
    margin-top: 134px;
}

.btn{
    z-index: 2;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.12;
    color: var(--primary-white);
    background-color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    width: 169px;
    height: 63px;
    text-align: center;
    padding: 16px 0;
    border-radius: 4px;
    margin: 0 13px;
    transition: all 0.3s linear;
    box-shadow: 0 -5px 0 #ffffff;
}

.btn:hover{
    background-color: #1da087;
}

.btn-color{
    background-color: #00CBF6;
}

.btn-color:hover{
    background-color: #119dbb;
}


/* MAIN 1  ADVANTAGES*/


.advantages-place{
    display: flex;
    margin-top: 5px;
}

.advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 360px;
}

.advantages-dark{
    transition: all 0.3s linear;
    color: var(--primary-color);
    background-color: #1C2A33;
}

.advantages-dark:hover{
    background-color: #16232b;
}   

.advantages-light{
    transition: all 0.3s linear;
    color: var(--primary-white);
    background-color: var(--primary-color);
}

.advantages-light:hover{
    background-color: #18bf9e;
}

.advantages-info{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 47px;
}


/* MAIN 2 SERVICES */


.services-place{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1160px;
    margin: 90px auto;
}


.services-tabs{
    width: 100%;
}

.services{
    padding: 17px 0;
    font-size: 15.98px;
    font-weight: 400;
    line-height: 2.44;
    text-align: center;
    width: calc(100%/6);
    color: #717171;
}

.services--focus{
    background-color: var(--primary-color);
    color: var(--primary-white);
}

.services:hover{
    cursor: pointer;
    border: 1.5px solid #18CFAB;
    padding: 15.5px 0;
}

.services-info{
    margin-top: 28px;
}

.servise-img{
    width: 192px;
    height: 139px;
}

.services-text{
    margin-left: 15px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 1.79;
    color: #777777;
}


/* MAIN 3 / INSTALL PLACE */


.install-place{
    position: relative;
    background-image: url("../images/Sections-background/section-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 100px;
}

.install-place::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.78;
}

.install-tittle{
    z-index: 2;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.install-info{
    z-index: 2;
    text-align: center;
    color: #D8D8D8;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    margin-bottom: 62px;
}


/* MAIN 4 / WORK */


.work-place{
    padding: 96px 0;
    text-align: center;
}

.work-filter{
    margin: 0 auto;
    margin-bottom: 51px;
    width: 600px;
}

.work-type{
    border: 1px solid #DADADA;
    font-weight: 400;
    font-size: 14px;
    line-height: 3;
    color: #717171;
    padding: 14px 15px;
}

.work-type:hover{
    border: 1px solid var(--primary-color); 
    cursor: pointer;
}

.work-all{
    padding: 14px 27px;
}

.work-focus{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.work-example-place{
    display: flex;
    flex-wrap: wrap;
}

.work-example{
    position: relative;
    width: calc(100%/4);
}


.work-img{
    width: 100%;
    height: 100%;
}

.work-example:hover .work-info{
    opacity: 1;
    border-top: 3px solid var(--primary-color);
}

.work-info{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #E9EDEF;
    transition: all 0.3s linear;
    border-top: 3px solid transparent;
}

.work-icon{
    padding: 11.75px 13px;
}

.icon-place{
    display: inline-block;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: all 0.3s linear;
}

.icon-place:hover{
    background-color: var(--primary-color);
}

.work-icon-square{
    padding: 13.75px 14.5px;
}

.work-tittle{
    font-size: 14.18px;
    font-weight: 700;
    line-height: 1.78;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-top: 24px;
}

.work-text{
    font-weight: 300;
    font-size: 12.15px;
    line-height: 2.07;
    color: #8A8A8A;
}

.btn-plus{
    box-shadow: none;
    margin: 0 auto;
    margin-top: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: var(--primary-white);
}

.btn-plus span{
    font-size: 25px;
    margin-right: 15px;   
}


/* MAIN 5 / BREAKING NEWS  */

.news{
    padding: 82px 0;
}

.news-place{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 45px;
}

.news-post{
    text-decoration: none;
}

.news-img{
    position: relative;
    overflow: hidden;
}


.news-date{
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 70px;
    background-color: #203E38;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.56;
    padding: 11px 4px;
    text-align: center;
    transition: background-color 0.3s linear;
}

.news-tittle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.16;
    color: #717171;
    padding: 0 15px;
    transition: color 0.3s linear;
}

.news-comment{
    margin-top: -10px;
    padding: 0 20px;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 2.8;
}

.news-comment--name::after{
    content: "|";
    padding: 0 15px;
}

.news-post:hover .news-date{
    background-color: var(--primary-color);
}

.news-post:hover .news-tittle{
    color: var(--primary-color);
}


/* MAIN 6 / ABOUT HAM */

.about-ham{
    width: 100%;
    /* min-height: 853px; */
    padding: 100px 380px;
    background-image: url("../images/Sections-background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: #002f37;
    position: relative;
}

.about-ham-tittle{
    color: var(--primary-white);
}

.info-place{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 44px;
}

.about-ham-info{
    margin: 37px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.87;
    color: #BBBBBB;
}

.about-ham-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.69;
    color: var(--primary-color);
    text-transform: uppercase;
}

.about-ham-post{
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 50px;
}

.about-ham-img-place{
    align-self: center;
    width: 166px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(24, 207, 171, 0.2);   
}

.swiper-nav{
    position: relative;
    margin: 0 auto;
    width: 430px;
}

.swiper-button-next,
.swiper-button-prev{
    width: 33px;
    height: 33px;
    border: 1px solid rgba(187, 187, 187, 0.2);
}

.swiper-button-next{
    right: -33px;
}

.swiper-button-prev{
    left: -33px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background-color: var(--primary-color);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: "";
}


.swiper-pagination{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 15px;
}


.swiper-pagination-bullet {
    width: 61px;
    height: 61px;
    padding: 5px;
    margin: 0 10px;
    text-align: center;
    background: rgba(24, 207, 171, 0.2);
    opacity: 1;
}

.swiper-pagination-bullet-active{
    margin-bottom: 10px;
    background: rgba(24, 207, 171, 0.8);
}

/* MAIN 7 /  BEST IMAGES*/

.best-images{
    padding: 67px 0;
}

.grid-sizer,
.item{
    width: calc(100%/3 - 20px);
    margin-bottom: 20px;
    overflow: hidden;
}

.small-block{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.grid-img{
    position: relative;
}

.grid-hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear;
}

.grid-img:hover .grid-hover{
    opacity: 1;
    cursor: pointer;
}

.img-place{
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 27px;
    padding: 7px;
    background-color: #14B9D5;
    margin-left: 19px;
    cursor: pointer;
}

.btn--bestimage{
    margin-top: 32px;
}

.loader-gallery{
    height: 10px;
}

/* MAIN 8 / Copyright */


.copyright{
    padding: 48px 0;
    width: 100%;
    background-color: #22353F;
    color: #AEAEAE;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.86;
}

.copyright span{
    color: var(--primary-color);
}